/* style/slice_interface.qss */
QFrame#sliceInterface {
    background-color: transparent;
    border: none;
}

QWidget#sliceLeftColumn,
QWidget#sliceMiddleColumn,
QWidget#sliceRightColumn {
    background-color: transparent;
    border: none;
}

QLabel#sliceLeftTitle,
QLabel#sliceMiddleTitle {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

QLabel#sliceInfoLabel {
    font-size: 17px;
    font-weight: 700;
    color: white;
}

QLabel#sliceDimensionLabel {
    font-size: 16px;
    color: white;
}

SimpleCardWidget#sliceImageCard {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 6px;
    min-height: 120px;
}

#actionButtonCard {
    background-color: transparent;
    border-radius: 8px;
}
#actionButtonCard:hover, #actionButtonCard[isHover=true] {
    background-color: rgba(255, 255, 255, 9);
}
#actionButtonCard:pressed, #actionButtonCard[isPressed=true] {
    background-color: rgba(255, 255, 255, 6);
}
#actionButtonCard > QLabel {
    color: white;
}

#primaryActionButtonCard {
    background-color: --ThemeColorPrimary;
    border-radius: 8px;
}
#primaryActionButtonCard:hover, #primaryActionButtonCard[isHover=true] {
    background-color: --ThemeColorDark1;
}
#primaryActionButtonCard:pressed, #primaryActionButtonCard[isPressed=true] {
    color: rgba(0, 0, 0, 0.63);
    background-color: --ThemeColorDark2;
}
#primaryActionButtonCard > QLabel {
    color: black;
}

#rightPanelScrollArea, #rightPanelScrollArea > QWidget {
    background: transparent;
    border: none;
}

#scrollContentWidget {
    background: transparent;
}
