/* style/slice_interface.qss */
QFrame#sliceInterface {
    background-color: transparent;
    border: none;
}

QWidget#sliceLeftColumn,
QWidget#sliceMiddleColumn,
QWidget#sliceRightColumn {
    background-color: transparent;
    border: none;
}

QLabel#sliceLeftTitle,
QLabel#sliceMiddleTitle {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

QLabel#sliceInfoLabel {
    font-size: 17px;
    font-weight: 700;
    color: white;
}

QLabel#sliceDimensionLabel {
    font-size: 16px;
    color: white;
}

SimpleCardWidget#sliceImageCard {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 6px;
    min-height: 120px;
}

#actionButtonCard {
    background-color: rgba(255, 255, 255, 13);
    border-radius: 6px;
}
#actionButtonCard:hover, #actionButtonCard[isHover=true] {
    background-color: rgba(255, 255, 255, 0.0837);
}
#actionButtonCard:pressed, #actionButtonCard[isPressed=true] {
    color: rgba(255, 255, 255, 0.786);
    background: rgba(255, 255, 255, 0.0326);
}
#actionButtonCard > QLabel {
    color: white;
}

#primaryActionButtonCard {
    background-color: --ThemeColorPrimary;
    border: 1px solid --ThemeColorLight1;
    border-radius: 6px;
}
#primaryActionButtonCard:hover, #primaryActionButtonCard[isHover=true] {
    background-color: --ThemeColorDark1;
    border: 1px solid --ThemeColorLight1;
    border-bottom: 1px solid --ThemeColorLight2;
}
#primaryActionButtonCard:pressed, #primaryActionButtonCard[isPressed=true] {
    color: rgba(0, 0, 0, 0.63);
    background-color: --ThemeColorDark2;
    border: 1px solid --ThemeColorDark2;
}
#primaryActionButtonCard > QLabel {
    color: black;
}
